{% extends "lab_6/layout/base.html" %}
{% block content %}
    {% load staticfiles %}
{% load static %}
     <section name="Chatbox">
       <div class="wrapper">
          <div class="chat-box">
             <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
             </div>
             <div class="chat-body">
                <div class="msg-insert">
                </div>
                <div class="chat-text">
                  <div class='row'>
                    <div class = "col-xs-11">
                      <textarea placeholder="Press Enter">
                      </textarea>
                    </div>
                    <div class = "col">
                      <button  class = "chat-button">Enter</button>
                    </div>
                      </div>
                </div>
             </div>
          </div>
       </div>
    </section>

    {% endblock %}
